<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>Hello</h1>
        <br><br>
        <form id="form">
          <button class="btn btn-md btn-danger" id="add-username">Submit</button>
          <br><br>
          <input id="username" rows="2" cols="30" placeholder="Enter username here....."></input>
        </form>
        <br><br>
        <form id="form">
          <button class="btn btn-md btn-danger" id="add-pic">Submit</button>
          <br><br>
          <input id="picLink" rows="2" cols="30" placeholder="Enter Link here....."></input>
          <input id="picTitle" rows="2" cols="30" placeholder="Enter Title here....."></input>
        </form>
        <br><br>
        <div class="card" id="chatBox">
          <div class="card-header">
            <h4>Chat</h4>
          </div>
          <div class="card-body">
            <div id="chat-area">

            </div>
            <br>
            <input type="text" id="chat" placeholder="enter message here..." style="width: 100%;">
            <br><br>
            <button class="btn btn-default btn-sm btn-block" id="add-chat">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>