<link(rel= "stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css")></link>
<link rel="stylesheet" href="./style.css" type='text/css'>



{{#if loggedIn}}
      <a href="/logout"><button class="btn btn-md btn-danger" id="login">Log Out</button></a>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      {{else}}
      <a href="/logout"><button class="btn btn-md btn-danger" id="login">Log Out</button></a>

      <a href="/login"><button class="btn btn-md btn-danger" id="login">Login</button></a>
      {{/if}}


</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>