.list-group-item {
  line-height: 2.5;
 }
 
 #chat-area {
  height: 1000px;
  width: 100%;
  overflow: auto;
  background-color: blueviolet;
 }
 
 h1{
  font-style: italic;
  color:red;
 }
 .chatbox{
  border-style: dashed;
 }