
/* wyatt's css code */
 /* login page  */
h1{
  text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
  color: red;
  font-size: 4em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  margin-top: 150px;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

.animate{
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

.quote {
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
  font-family: cursive;
}

.btn{
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 662px;
  margin-top: 15px;
  font-weight: bold;
}

#btnOne {
  margin-left: 652px!important;
}

#wrapper {
  margin-top: 25px;
}

body {
  background-image: url("../styles/5cf2660af5f4214def7166dc7a7c8062.jpg");
  background-repeat: no-repeat;
}

footer{
  background-color: black;
  height: 60px;
  weight: 1440px;
  margin-top: 350px;
  border-top: 2px solid red;
  color: white;
  font-size: 10px;
  text-align: center;
  padding: 20px;
}

/* Home page  */

.userh1 {
  margin-top: 15px!important;
}

#add-pic.btn{
  margin-left: 0px;
}

#chat {
  margin-bottom: 0px;
}

#add-chat{
  margin-left: 0px;
  border: solid 1px darkblue;
  margin-top: 0px;
}